nav
  .nav-wrapper.container
    a.brand-logo(href='/')
      img(src='/img/LogoMark.svg')
      span.logo-text Job Console
    ul#nav-mobile.right.hide-on-med-and-down
      li
        a.waves-effect.waves-light.btn.teal.modal-trigger(href='/new') NEW JOB
      li
        a.dropdown-trigger(data-target='profile-dropdown' data-covertrigger='false') #[i.material-icons.right arrow_drop_down]
